/* write.css */
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* 전체 스타일 */
body {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F8F7FF;

}

/* 헤더 스타일 */
header {
    background-color: #FFEEDD;
    padding: 20px;
}

.texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
}

.buttons a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.buttons a:hover {
    color: #E88D67;
}

/* 콘텐츠 스타일 */
.contents {
    padding: 40px;

}

.title, .content, .file {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #E88D67;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;

}

button[type="submit"]:hover {
    background-color: #D07B5B;
}

/* 푸터 스타일 */
footer {
    background-color: #FFEEDD;
    padding: 20px;
    text-align: center;
}

.texts p {
    margin: 5px 0;
}
