<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>explain</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/explain.css}">
    <link rel="stylesheet" th:href="@{/css/write2.css}">
    <script th:src="@{/js/write.js}"></script>


</head>

<body>
<!-- 상단 바 (로고 + 위치,병원,후원)-->
<header>
    <div class="texts">
            <span class="logo_loca">
                <img class="info-picture" th:src="@{/files/cat/logo_final.png}" style="width: 20%" >
            </span>
        <!-- 여기 고침 : div -> ol -->
        <span>
                <ol class="buttons">
                    <li class="button"> <a th:href="@{/cat/explain}">집이다냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/location}">찾아달라냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/friends}">친해지자냥</a> </li>
                </ol>
            </span>
    </div>
</header>

<div class="contents">
    <div class="frame">
        <!-- 추가 profile 1 -->
        <div class="profile" style="width: 60%; height: 180px; border-radius: 15px" >
            <div class="profile-container" >
                <div class="profile-who">프로필 정보다냥</div>
                <div class="profile-info">
                    <img class="info-picture" th:src="@{/files/cat/동국캐릭1.png}" style="width: 20%">
                    <div class="info-container">
                        <div class="info-name">이름 : 동국이</div>
                        <div class="info_description">설명: 안녕하다냥! 난 동국이다냥!</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 추가 profile 2 -->
        <div class="profile" style="width: 60%; height: 180px; border-radius: 15px" >
            <div class="profile-container">
                <div class="profile-who">프로필 정보다냥</div>
                <div class="profile-info">
                    <img class="info-picture" th:src="@{/files/cat/동국캐릭2.png}" style="width: 20%">
                    <div class="info-container">
                        <div class="info-name">이름 : 새롬이</div>
                        <div class="info_description">설명: 안녕하다냥! 난 새롬이다냥!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>




    <!-- 하단 바 -->
    <footer style="width: 100%; margin-bottom: 0">
        <div class="texts" style="width: 100%; margin-bottom: 0">
            <p> 동국이를 찾아라</p>
            <p> 개발자 없는 개발자 팀</p>
            <p> 추가문의 032 - 851 - 0369</p>
        </div>
    </footer>

</body>
</html>