<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explain</title>
    <link ref="stylesheet" href="explain.css">
</head>

<body>
<!-- 상단 바 (로고 + 위치,병원,후원)-->
<header>
    <div class="texts">
        <div class="logo">
            <img src="고양이발바닥"
                 alt="고양이발바닥">
            <span>동국이를 찾아라</span>
        </div>
        <div class="buttons">
            <a href="../location.html">어딨냥!</a>
            <a href="../hospital.html">모이라냥</a>
            <a href="../dontate.html">배고프다냥</a>
        </div>
    </div>
</header>

<!-- contents 내용 allprofiles(profile1 + profile2 + ...)-->
<contents>
    <div class="box_container">
        <div class="box">
            <div class="box_header">2024-07-21-00:12</div>
            <div class="box_body">
                <img src=""
                     alt="사진">
                <div class="loca_descri">
                    <div class="location">
                        <img src=""
                             alt="아이콘">
                        <span> 위치 : 사회과학관 3층 문앞 </span>
                    </div>
                    <div class="description">
                        뜨끈하게 식빵 굽는 동국이 공유합니다~
                    </div>
                </div>
            </div>
            <!-- 추가 box 2.3.... -->
        </div>
</contents>

<!-- 하단 바 -->
<footer>
    <div class="texts">
        <p> 동국이를 찾아라</p>
        <p> 인천시 연수구 해송로 70</p>
        <p> 추가문의 032) 851 - 0369</p>
    </div>
</footer>
</body>
</html>