<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>explain</title>
    <link rel="stylesheet" th:href="@{/css/location.css}">
</head>

<body>
<!-- 상단 바 (로고 + 위치,병원,후원)-->
<header>
    <div class="texts">
        <div class="logo">
            <img class="info-picture" th:src="@{/files/cat/logo_final.png}" style="width: 20%">
        </div>
        <div class="buttons">
            <a th:href="@{/cat/location}">어딨냥!</a>
            <a th:href="@{/cat/hospital}">모이라냥</a>
            <a th:href="@{/cat/donate}">배고프다냥</a>
            <a th:href="@{/cat/location/write}">인증샷</a>
        </div>
    </div>
</header>


    <div class="box_container">

        <table>
            <thead>
            <tr th:each="cat:${list}">
                <td>
                <img th:src="@{${cat.filepath}}" alt="이미지" style="max-width: 10%; height: auto;"></td>
                <td>
                    <a th:text="${cat.title}" th:href="@{location/view(id=${cat.id})}"></a>
                </td>
                <td th:text="${cat.content}"></td>
                <td th:text="${cat.time}"></td>
            </tr>
            </thead>
        </table>
    </div>

<div class="pagination">
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a th:if="${page != nowPage}" th:href="@{/cat/location(page=${page}, searchKeyword=${param.searchKeyword})}" th:text="${page}"></a>
        <strong th:if="${page == nowPage}" th:text="${page}"></strong>
    </th:block>
</div>

<form th:action="@{/cat/location}" method="get">
    <input type="text" name="searchKeyword">
    <button type="submit">검색</button>
</form>



<!-- 하단 바 -->
<footer>
    <div class="texts">
        <p> 동국이를 찾아라</p>
        <p> 인천시 연수구 해송로 70</p>
        <p> 추가문의 032) 851 - 0369</p>
    </div>
</footer>

</body>
</html>