
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <div class="image">
        <img th:src="@{/files/cat/동국이메인.jpg}">
    </div>

    <div class="text">
        <h1><strong>동</strong>국이를 <br> <strong>찾</strong>아라!</h1>
        <a th:href="@{/cat/explain}">Click</a>
    </div>
</body>


</html>