<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 글 작성</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/explain.css}">
    <link rel="stylesheet" th:href="@{/css/write2.css}">

</head>
<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .layout  input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout  textarea{
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }

</style>
<body>

<header>
    <div class="texts">
            <span class="logo_loca">
                <img class="info-picture" th:src="@{/files/cat/logo_final.png}" style="width: 20%" >
            </span>
        <!-- 여기 고침 : div -> ol -->
        <span>
                <ol class="buttons">
                    <li class="button"> <a th:href="@{/cat/explain}">집이다냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/location}">찾아달라냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/friends}">친해지자냥</a> </li>
                </ol>
            </span>
    </div>
</header>
<div class="layout">
    <form th:action="@{/cat/location/update/{id}(id = ${cat.id})}" method="post" enctype="multipart/form-data">
        <input name="title" type="text" th:value="${cat.title}">
        <textarea name="content" th:text="${cat.content}"></textarea>
        <input type="file" name="file">

        <img th:text="${cat.filepath}" alt="현재 파일" style="max-width: 50%; height: auto;">
        <button type="submit">수정</button>

    </form>
</div>

<footer>
    <div class="texts">
        <p> 동국이를 찾아라</p>
        <p> 개발자 없는 개발자 팀</p>
        <p> 추가문의 032 - 851 - 0369</p>
    </div>
</footer>
</body>
</html>
