<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
  <link rel="stylesheet" href="/css/view.css">
</head>
<body>

<header>
  <div class="logo">
    <img src="/path/to/logo.png" alt="Logo">
  </div>

</header>


  <h1 th:text="${cat.title}">제목입니다.</h1>
  <p th:text="${cat.content}">내용</p>



<img th:src="@{${cat.filepath}}" alt="이미지" style="max-width: 50%; height: auto;">

<a th:href="@{/cat/delete(id=${cat.id})}">글 삭제</a>
<a th:href="@{/cat/modify/{id}(id=${cat.id})}">수정</a>

<!--<img th:src="@{/files/09d1a264-544d-49c2-8fe7-b5145969bc84_동국대.png}" alt="Cat Image">
<img th:src="@{/files/pic.png}">
<img th:src="@{${cat.filepath}}" alt="Cat Image">
  <a th:href="@{${cat.filepath}}">사진</a>
-->
</body>
</html>
