<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">


    <link rel="stylesheet" th:href="@{/css/write2.css}">
</head>
<body>

<header>
    <div class="texts">
            <span class="logo_loca">
                <img class="info-picture" th:src="@{/files/cat/logo_final.png}" style="width: 20%" >
            </span>
        <!-- 여기 고침 : div -> ol -->
        <span>
                <ol class="buttons">
                    <li class="button"> <a th:href="@{/cat/explain}">집이다냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/location}">찾아달라냥</a> </li>
                    <li class="button"> <a th:href="@{/cat/friends}">친해지자냥</a> </li>
                </ol>
            </span>
    </div>
</header>



  <h1 th:text="${cat.title}">제목입니다.</h1>
  <p th:text="${cat.content}">내용</p>



<img th:src="@{${cat.filepath}}" alt="이미지" style="max-width: 50%; height: auto;">

<a th:href="@{/cat/location/delete(id=${cat.id})}">글 삭제</a>

<a th:href="@{/cat/location/modify/{id}(id=${cat.id})}">수정</a>
<!--<img th:src="@{/files/09d1a264-544d-49c2-8fe7-b5145969bc84_동국대.png}" alt="Cat Image">
<img th:src="@{/files/pic.png}">
<img th:src="@{${cat.filepath}}" alt="Cat Image">
  <a th:href="@{${cat.filepath}}">사진</a>
-->

<div>
  <ul>
    <li th:each="answer:${answer}"
        th:text="${answer.content}">
    </li>

  </ul>
</div>



<form th:action="@{|/cat/location/create/${cat.id}|}" method="post" enctype="multipart/form-data">
  <textarea name="content" id="content" rows="15"></textarea>
  <input type="submit" value="답변등록">
</form>

<footer>
    <div class="texts">
        <p> 동국이를 찾아라</p>
        <p> 개발자 없는 개발자 팀</p>
        <p> 추가문의 032 - 851 - 0369</p>
    </div>
</footer>

</body>
</html>
